.grass{
  background-color: #73cc50;
}
.water{
  background-color: #68a4d4;
}
.fire{
  background-color: rgb(238, 181, 148);
}
.bug{
  background-color: rgb(215, 240, 168);
}
.poison{
  background-color: rgb(194, 165, 240);
}
.psychic{
  background-color: #f096cb;
}
.normal{
  background-color: #babbbc;
}
.electric{
  background-color: rgb(243, 241, 115);
}
.ground{
  background-color: #ceb649;
}
.fairy{
  background-color: rgb(250, 207, 250);
}
.fighting{
  background-color: #df8f5d;
}
.ghost{
  background-color: #7b62a3af;
}
.rock{
  background-color: #beaf6e;
}
.ice{
  background-color: #d1f4ff;
}
.dragon{
  background-color: #f9917e;
}
.dark{
  background-color: #8a8989;
}
.steel{
  background-color: rgb(224, 236, 236);
}