.main{
  margin-top: 78px;
  &-mtop{
    margin-top: 128px;
  }
  &-section{
    background-color: white!important;
    background: url(../img/container_bg.png);
  }
}
@media(min-width: 650px){
  .main{
    background: url(../img/body_bg.png);
    background-attachment: fixed;
    padding: 0 10%;
  }
}