.main{
  margin-top: 78px;
  &-mtop{
    margin-top: 128px;
  }
  &-section{
    padding-top: 1px;
    background-color: white!important;
    background: url(../img/container_bg.png);
  }
}
.main-pokemon{
  margin-top: 1rem;
  // padding: 0 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  &-name{
    margin-bottom: 0;
    padding: 0.5rem 0;
    background-color: rgba(0, 0, 0, 0.2);
    text-align: center;
    text-transform: capitalize;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  }
  &-infos{
    position: relative;
    padding: .5rem 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    &-id_typ{
      display: flex;
      align-items: flex-end;
    }
    &-id{
      position: absolute;
      font-size: 1.5rem;
      padding: .2rem;
      border-radius: .5rem;
      color: white;
      text-shadow: 1px 1px 2px black;
      top: -22px;
      left: 20px;
      transform: rotate(-15deg);
    }
    &-typ{
      margin-bottom: .5rem;
      padding: 0 0.5rem;
      width: 70px;
      border: 1px solid rgba(0, 0, 0, 0.5);
      border-radius: 1.5rem;
      text-align: center;
      &:last-child{
        margin: 0;
      }
    }
  }
}
@media(min-width: 650px){
  .main{
    margin-top: 78px;
    background: url(../img/body_bg.png);
    background-attachment: fixed;
    padding: 0 10%;
  }
}