.main{
  min-height: calc(100vh - 78px);
  margin-top: 78px;
  &-mtop{
    margin-top: 128px;
  }
  &-section{
    min-height: calc(100vh - 78px);
    padding-top: 1px;
    background-color: white!important;
    background: url(../img/container_bg.png);
  }
}
.main-pokemon{
  margin-top: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  transition: all .2s ease-in-out;
  &:hover{
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3),
    0 -5px 5px rgba(0, 0, 0, 0.3);
    .main-pokemon-img{
      margin-top: -19px;
      position: absolute;
      right: 26px;
      top: -10px;
      width: 110px;
    }
    .main-pokemon-img-shadow{
      filter: drop-shadow(10px 20px 4px rgba(0,0,0, .3));
    }
  }
  &-bg{
    position: absolute;
    width: 30%;
    opacity: .2;
    left: 35%;
    bottom: -18px;
    transform: rotate(20deg);
    z-index: 0;
  }
  &-name{
    margin-bottom: 0;
    padding: 0.5rem 0;
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;
    text-transform: capitalize;
  }
  &-img{
    width: 84px;
    z-index: 2;
  }
  &-img-shadow{
    filter: drop-shadow(5px 10px 4px rgba(0,0,0, .2));
    transition: all .2s ease-in-out
  }
  &-infos{
    height: 100px;
    position: relative;
    padding: .5rem 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    &-id_typ{
      display: flex;
      align-items: flex-end;
    }
    &-id{
      position: absolute;
      font-size: 1.5rem;
      padding: .2rem;
      color: white;
      text-shadow: 1px 1px 2px black;
      top: -22px;
      left: 20px;
      transform: rotate(-15deg);
    }
    &-typs{
      display: flex;
      gap: .5rem;
    }
    &-typ{
      background-color: rgba(255,255,255, .5);
      padding: 0 0.5rem;
      width: 70px;
      border: 1px solid rgba(0, 0, 0, 0.5);
      border-radius: 1.5rem;
      text-align: center;
      z-index: 1;
      &:last-child{
        margin: 0;
      }
    }
  }
}

.load-more{
  min-height: 78px;
  background-color: #323232 !important;
  border: 2px solid #2F2F2F;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  &-txt{
    font-size: larger;
    font-weight: bolder;
  }
  &:hover{
    font-size: 28px;
  }
}

@media(min-width: 500px){
  .main-section{
    padding: 16px;
    gap: 16px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .main-pokemon{
    width: 250px;
    height: 250px;
    border-radius: 41% 21%/7% 24%;
    border: 1px solid rgba(0, 0, 0, 0.5);
    margin: 0;
    &:hover{
      .main-pokemon-img{
        width: 200px;
        right: -17px;
        z-index: 5;
      }
      .main-pokemon-infos-typ{
        z-index: 6;
      }
    }
    &-bg{
      top: 35%;
      width: 80%;
    }
    &-infos{
      flex-direction: column-reverse;
      height: 100%;
      width: 100%;
      &-id{
        z-index: 2;
      }
    }
    &-name{
      border-radius: 43% 22%/24% 78%;
    }
  }
  .main-pokemon-img-container{
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .main-pokemon-img{
    width: 150px;
    position: absolute;
  }
}

@media(min-width: 650px){
  .main{
    background: url(../img/body_bg.png);
    background-attachment: fixed;
    padding: 0 5%;
  }
}

@media(min-width: 850px){
  .main{
    margin-top: 78px;
  }
}