.overlay{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 50;
  backdrop-filter: blur(2px);
  display: flex;
  justify-content: center;
  align-items: center;
  .overlay-pokemon {
    width: 250px;
    height: 250px;
    border-radius: 21% 41%/24% 7%;
    border: 1px solid rgba(0, 0, 0, 0.5);
    margin: 0;
    position: relative;
    overflow: hidden;
  }
}

@media(min-width: 500px){
  .overlay-pokemon{
    &-name{
      border-radius: 22% 46%/81% 22%;
    }
  }
}