.overlay{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 50;
  backdrop-filter: blur(2px);
  .main-pokemon {
    width: 250px;
    height: 250px;
    border-radius: 41% 21%/7% 24%;
    border: 1px solid rgba(0, 0, 0, 0.5);
    margin: 0;
  }
}