.overlay{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 50;
  backdrop-filter: blur(2px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &-pokemon {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.5);
    margin: 0;
    position: relative;
    overflow: hidden;
      &-typ{
        position: absolute;
        bottom: 0px;
        display: flex;
        flex-direction: column;
      }
    }
    &-img{
      z-index: 2;
    }
}

.overlay-pokemon-more{
  min-height: 250px;
  width: 100%;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.5);
  margin-top: -10px;
  &-headline{
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    &-arrow{
      width: 32px;
    }
  }
}
.overlay-pokemon-infos{
  height: calc(100% - 60px);
  ul{
    list-style: none;
  }
  td{
    padding-left: 18px;
  }
  td:first-child{
    font-weight: bold;
  }
  &-about{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &-moves{
    max-height: 250px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media(min-width: 500px){
  .overlay-pokemon{
    width: 70%;
    max-width: 800px;
    height: 250px;
    border-radius: 21% 41% 0 0/24% 7%;
      &-name{
        border-radius: 22% 46%/81% 22%;
      }
      &-img{
        bottom: -25px;
      }
      &-infos-typ{
        bottom: 60px;
      }
  }
  .overlay-pokemon-more{
    width: 70%;
    max-width: 800px;
    margin-top: -50px;
    border-radius: 5% 5% 21% 41%/ 5% 5% 24% 7%;
    z-index: 1;
  }
}