.grass {
  background-image: url("./img/type_grass.png");
  background-color: #27ae60;
}
.fire {
  background-image: url("./img/type_fire.png");
  background-color: #c0392b;
}
.electric {
  background-image: url("./img/type_electric.png");
  background-color: #f1c40f;
}
.fairy {
  background-image: url("./img/type_fairy.png");
  background-color: #b71540;
}
.fighting {
  background-image: url("./img/type_fighting.png");
  background-color: #d35400;
}
.bug {
  background-image: url("./img/type_bug.png");
  background-color: #2ecc71;
}
.ghost {
  background-image: url("./img/type_ghost.png");
  background-color: #9b59b6;
}
.ground {
  background-image: url("./img/type_ground.png");
  background-color: #e1b12c;
}
.normal {
  background-image: url("./img/type_normal.png");
  background-color: #7f8c8d;
}
.poison {
  background-image: url("./img/type_poison.png");
  background-color: #8e44ad;
}
.psychic {
  background-image: url("./img/type_psychic.png");
  background-color: #e84393;
}
.rock {
  background-image: url("./img/type_rock.png");
  background-color: #cc8e35;
}
.water {
  background-image: url("./img/type_water.png");
  background-color: #2980b9;
}